include Cargo.lock
include Cargo.toml
include build.rs
include requirements.txt
include copy-ghidra.py
recursive-include src *
recursive-include icicle-emu *
recursive-include python/icicle/Ghidra *
recursive-include tests *